#logo-link
{
	position: absolute;
	left: 1em;
	cursor: pointer;
	text-decoration: none;
}

#logo-link h2
{
	font-size: 36px;
}

#logo-link h2.logo-som
{
	right: 0;
}

#logo-link img
{
	width: 60px;
}


.container-formulario
{
	position: relative;
	display: inline-flex;
	left: 50%;
	transform: translate(-50%); 
	margin: 8em 0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.formulario
{
	padding: 10px;
	padding-bottom: 2em;
	width: 37em;
}

.form-header
{
	font-family: 'Palanquin', sans-serif;
	text-align: center;
}

form
{
	margin-top: 1em;
	padding: 0px 30px; 
	display: grid; 
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-column-gap: 3em;
	grid-row-gap: 2em;
}

input
{
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
	border: none;
	border-bottom: 3px solid;
	border-color: #EABD11;
}

input:focus
{
	outline: none;
}

input::placeholder
{
	color: black;
}

form label
{
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-right: 5px;
}

::-webkit-calendar-picker-indicator
{
	cursor: pointer;
}

.input-box input
{
	width: 9em;
}

select
{
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
	border: none;
	border-bottom: 3px solid;
	border-color: #EABD11;
}

select:focus
{
	outline: none;
}

#upload-box
{
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
	border-bottom: solid 2px #EABD11;
}

#upload-box label
{
	font-size: 18px;
	font-weight: 600;
}

#input_curriculo
{
  	display: inline-block;
	border: none;
	font-size: 16px;
}

#input_curriculo::-webkit-file-upload-button 
{
	border: none;
	padding: .2px .1px;
	background-color: white;
	cursor: pointer;
	color: #EABD11;
	font-weight: 900;
	transition: .1s;
}

#input_curriculo::-webkit-file-upload-button:hover
{
	color: #e87d11;
}


.btn-submit
{
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 24px;
	color: #EABD11;
	border-radius: 30px;
	background-color: #404040;
	border: none;
	transition: all 0.1s;
	cursor: pointer;
	grid-column-start: 1;
	grid-column-end: 3;
}

.btn-submit:hover
{
	background-color: #EABD11;
	color: #404040;
}

.card
{
	width: 21em;
	background: #EABD11;
	padding: 2em;
	right: 0px;
	border-radius: 0 10px 10px 0;
	font-family: 'Palanquin', sans-serif;
	color: #404040;
	text-align: center;
}

.card h1
{
	font-size: 34px;
}

.card p
{
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.card img
{
	width: 320px;
	margin: 1em 0;
}